<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= person.name %></title>
    <style>
      <%= style %>
    </style>
    <%= metadata %>
    <script type="application/ld+json">
      <%= json_ld %>
    </script>
  </head>
  <body>
    <main class="h-resume">
      <header class="title">
        <h1 class="p-name"><%= person.name %></h1>
        <address>
          <%= [person.address.locality_region, person.phone, person.email_link].join("&nbsp;&#124;&nbsp;") %>
        </address>
      </header>
      <article class="summary p-summary">
        <header>
          <h2>Professional Summary</h2>
        </header>
        <p><%= person.seeks.description %></p>
      </article>
      <article class="history">
        <header>
          <h2>Experience</h2>
        </header>
        <% person.alumni_of.each do |job| %>
        <section class="job">
          <h3><%= job.title %></h3>
          <h4>
            <span class="company"><%= job.name %></span>
            &nbsp;&#124;&nbsp;
            <span class="location"><%= job.location %></span>
            <span class="dates"><%= [job.start_date, job.end_date].join("&nbsp;&ndash;&nbsp;") %></span>
          </h4>
          <%= unordered_list(job.content) %>
        </section>
        <% end %>
      </article>
      <article class="skills">
        <header>
          <h2>Skills</h2>
        </header>
        <% if person.skills.is_a?(Hash) %>
        <dl>
        <% person.skills.each_pair do |k, v| %>
          <dt><%= k %></dt>
          <dd><%= v %></dd>
        <% end %>
        </dl>
        <% else %>
          <%= unordered_list(person.skills) %>
        <% end %>
      </article>
      <article class="education">
        <header>
          <h2>Education</h2>
        </header>
        <% person.credentials.each do |d| %>
        <section>
          <b><%= d.education_level %> in <%= d.field %></b>
          <br/>
          <%= d.school %>, <%= d.location %>
        </section>
        <% end %>
      </article>
    </main>
  </body>
</html>
