<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset= "utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, minimum-scale=1" />
    <meta name="generator" content="Mark Morga's Resume Generator">

    <%= metadata %>
    <title><%= title.name %></title>
    <style>
      <%= style %>
    </style>
  </head>
  <body>
    <main class="h-resume">
      <header class="title">
        <h1 class="p-name"><%= title.name %></h1>
        <address>
          <%= title.address.map {|i| link_emails(i) }.join("&nbsp;&#124;&nbsp;") %>
        </address>
      </header>
      <article class="summary p-summary">
        <header>
          <h2><%= summary.title %></h2>
        </header>
        <p><%= summary.content.join(" ") %></p>
      </article>
      <article class="history">
        <header>
          <h2><%= history.title %></h2>
        </header>
        <% history.jobs.each do |job| %>
        <section class="job">
          <h3><%= job.title %></h3>
          <h4>
            <span class="company"><%= job.company %></span>
            &nbsp;&#124;&nbsp;
            <span class="location"><%= job.location %></span>
            <span class="dates"><%= job.dates %></span>
          </h4>
          <%= unordered_list(job.content) %>
        </section>
        <% end %>
      </article>
      <article class="skills">
        <header>
          <h2><%= skills.title %></h2>
        </header>
        <dl>
        <% skills.content.each_pair do |k, v| %>
          <dt><%= k %></dt>
          <dd><%= v %></dd>
        <% end %>
        </dl>
      </article>
      <article class="education">
        <header>
          <h2><%= education.title %></h2>
        </header>
        <% education.degrees.each do |d| %>
        <section>
          <b><%= d.degree %> in <%= d.field %></b>
          <br/>
          <%= d.school %>, <%= d.location %>
        </section>
        <% end %>
      </article>
    </main>
  </body>
</html>
